.navbar {
    margin-bottom: 30px;
    height: 200px;
}

.navbar .navbar-brand {
    position: absolute;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    width: 100%;
}

.navbar div {
    text-align: center;
}

.navbar div h4 {
    color: white;
    margin-bottom: 0px;
}
.navbar div h1 {
    color: white;
    margin-bottom: 0px;
}
.navbar div h2 {
    color: white;
    margin-bottom: 0px;
}

.navbar div p {
    font-size: 90%;
    color: lightcyan;
}

.card .card-header h5 {
    margin-bottom: 0
}

.card .card-header {
    /* background-color: royalblue; */
    color: white
}