
#left{
    background-color: yellowgreen
}
#middle{
    background-color: rgb(85, 116, 14)
}
#right{
   background-color: gray
}
table{
    background-color: black
}

h1{
    background-color: gray
}
nav{
    background-color: gray
}