<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<div class="col-6" style="float:left">
    <ul class="list-group heroes">
      <li *ngFor="let hero of heroes" class="list-group-item" >
        <a target="view_window" (click)="f1('assets/haha.html',hero)">
          <h6 class="row">
            <div class="col-2"><span class="badge badge-primary badge-pill">{{hero.id}}</span></div>
            <div class="col-10">{{hero.name}}</div>
          </h6>
        </a>
      </li>
    </ul>
  <!-- <p id="abc"></p> -->
 </div>
 <!-- <app-hero-detail *ngIf="hero" [hero]="selectedHero"></app-hero-detail> -->
 


  
           
        